/* CSS Styles for Assignment 1 */
/* typefaces */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

/* General page or misc */

header,
footer {
  font-family: "Montserrat", sans-serif;
}

main {
  font-family: "Merriweather", serif;
}

.course_image {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Header / nav */

header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#home {
  margin-right: auto;
}

nav {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 20px 0 20px 0;
    margin: 20px 70px 0 70px;
}

/* #nav-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
} */

#nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* #nav-links li {
  padding: 0 10px;
} */

#course-grid {
  max-width: 960px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-auto-rows: auto;
  grid-row-gap: 15px;
  grid-column-gap: 10px;
}

#page_title {
  grid-column: 1/4;
}

/* Course cards for flex */

/* Course grid */

/* media queries */

/* footer */
