/* CSS Styles for Assignment 1 */
/* typefaces */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");


/* #course-grid fixed */


/* General page or misc */

header,
footer {
  font-family: "Montserrat", sans-serif;
}

main {
  font-family: "Merriweather", serif;
}

main > article {
  background: #f8f7f8;
  border-radius: 1em;
}

.course_image {
  width: 200px;
  height: 12em;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
}

.course_number {
  text-align: center;
}

body {
  background: #cedfe9;
}

/* Header*/
header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#home {
  margin-right: auto;
}

/* Nav rules. */
nav {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 20px 0 20px 0;
  margin: 20px 70px 0 70px;
  border-radius: 1em;
  background: #436ab3;
}

#nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#nav-links li {
  background: #c298b7;
  padding: 0.25em;
  border-radius: 0.5em;
}
#nav-links > li:last-child {
  margin-right: 40px;
}

/* Grid rules */
#course-grid {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    grid-auto-rows: minmax(100px, auto);
    gap: 15px 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.course_image {
     grid-area: image;
    max-width: 100%;

}

.course_number {
    grid-area: number;
}
.course_title {
    grid-area: title;
}
.course_description {
    grid-area: description;
}
.course_item {
    display: grid;
    justify-content: flex-start;
    align-self: flex-start;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 4fr;
    grid-template-areas: "image number"
         "image title"
          "image description";
    width: 150px;
    height: 300px;
    margin-right: auto;
/* #course-grid {
  max-width: 960px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-auto-rows: auto;
  grid-row-gap: 15px;
  grid-column-gap: 10px;
  /* margin-bottom: 1em; */
}
/* 
.course_item {
  min-height: 22em;
}

.course_description {
  margin: 0.5em;
} */ */

#page_title {
  grid-column: 1/4;
}

/* Footer rules */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: auto;
  border: black 2px solid;
  box-sizing: border-box;
  background: #436ab3;
  margin: 20px 70px 0 70px;
  padding: 0;
  border-radius: 1em;
}

/* footer p {
  order: -1;
  margin-right: auto;
  padding-left: 20px;
} */
footer p {
    order: -1;
    margin-right: auto;
    /*padding-left: 20px;*/
    background: #c298b7;
    padding: 0.25em 0 0.25em  20px;
    border-radius: 0.5em;
}
#footer-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  width: 100%;
}
#footer-items > li:first-child {
  order: 0;
  margin-right: auto;
  margin-left: auto;
}
#footer-items > li:last-child {
  order: 1;
  margin-left: 20px;
  padding-right: 20px;
}
#footer-items > li a {
    background: #c298b7;
    padding: 0.25em 0 0.25em  0;
    border-radius: 0.5em;
}
/* media queries */
@media (max-width: 768px) {
  #course-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  #course-grid {
    grid-template-columns: 1fr;
  }
}
